@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Bun venit la beerT</h1>
    <p>Alege o sectiune de mai sus pentru mai multe informatii</p>
</div>
